<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/home.css">
</head>
<body>
  <div>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="category">Categories</li>
    </ul>

		<div class="brand">
			<ul class="navbar-nav ml-auto">
				<li><a class="navbar-brand" href="#">Bookify</a></li>
			
				<li class="nav-item">
					<form class="form-inline">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="input_bar">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</li>
			</ul>
		</div>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="login.ejs">Logout</a>
			</li>
		</ul>
  </nav>
</div>
  <div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
    <button class="dropdown-btn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
    <a href="#contact">Search</a>
  </div>
  
</body>
</html>