body {
    background: url(bg-registration-form-7.jpg) !important;
	background-size: cover !important;
	background-position: center !important;
    color: white;
}
#table{
    background-color: white !important;
    border-radius: 30px;
}
#regForm {
    background-color: white !important;
    border-radius: 30px;
    text-align: center !important;
  }